<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ asset('css_1.css') }}">
	<script type="text/javascript" src="{{ asset('js_1.js') }}"></script>
</head>
<body>
	<style>
		.page-header {
			background-color: #d1ff47;
			padding: 10px 10px 10px 10px;
			margin: 3% 10% 3% 10%;
		}

		.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
			color: #ffffff;
			font-size: 36pt;
			margin: 3% 10% 3% 10%;
		}

		h1, h2, h3, h4 {
			font-family: 'Segoe Print';
		}
		
		.content {
			margin-left: 12%;
		}

		.post-form textarea, .post-form input {
			width: 100%;
		}

		.top-menu, .top-menu:hover, .top-menu:visited {
			color: #ffffff;
			float: right;
			font-size: 26pt;
		}
	</style>
	<section class="section_full">
		<section class="section_1">
			<div class="shapka">
				<div class="site_name"><h2>SMELL BOOKS</h2></div>
			</div>
		</section>

		<section class="section_2">
			<div class="menu">
				<div id="menu_icon" onclick="start()">
					<span class="lines"> </span>
				</div>
				<nav class="menu_links">
					<a href="{{ path('index') }}" class="links"type="button">HOME</a>
					<a href="{{ path('books') }}" class="links"type="button">BOOKS</a>
					<a href="{{ path('aboutUs') }}" class="links"type="button">ABOUT US</a>
					<a href="{{ path('setting') }}" class="links"type="button">SETTINGS</a>
					<a href="{{ path('register') }}" class="links"type="button">REGISTER</a>
				</nav>
			</div>
		</section>
			<div class="page-header">
				<a href="{{ path('newBook') }}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
				<h1><a href = "/">To learn to read is to light a fire</a></h1>
			</div>
			<div class="content container">
				<div class="row">
					<div class="col-md-8">
						{% block content %}
							<h2>List of books</h2><br>	
							
							{% for b in book %}
								<form method="POST" action="{{path('showBook')}}">
									<input type="hidden" name="id" value = "{{ b.getId }}">
									<h3><button>{{ b.getName }} </button><h3>
								</form>
								<form method="POST" action="{{path('deleteBook')}}">
									<input type="hidden" name="id" value = "{{ b.getId }}">
									<button type="submit" class="save btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
								</form>
								<br>
							{% endfor %}	
						{% endblock %}
					</div>
				</div>
			</div>
		<section class="section_5">
			<div class="footer">
				<span>Testing site !</span>
			</div>
		</section>
	</section>
</body>
</html>