<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}">
</head>
<body style="font-family:'Segoe Print';">
	
	<div class="x_icon"> 
		<img src="{{ asset('img/x.png') }}" width="40px" height="40px" class="xxx">
	</div>

	<div class="setting_fon"></div>

	<div class = "setting">
		<h2>Settings</h2>

		<label>Page_bg: </label>
		<select class="setting_values">
			<option>black</option>
			<option>white</option>
			<option>blue</option>
			<option>yellow</option>
			<option>green</option>
			<option>gray</option>
			<option>red</option>
			<option>pink</option>
		</select><br>

		<label>Menu_bg: </label>
		<select class="setting_values">
			<option>black</option>
			<option>white</option>
			<option>blue</option>
			<option>yellow</option>
			<option>green</option>
			<option>gray</option>
			<option>red</option>
			<option>pink</option>
		</select><br>

		<label>Content_bg: </label>
		<select class="setting_values">
			<option>black</option>
			<option>white</option>
			<option>blue</option>
			<option>yellow</option>
			<option>green</option>
			<option>gray</option>
			<option>red</option>
			<option>pink</option>
		</select><br>

		<label>Footer_bg: </label>
		<select class="setting_values">
			<option>black</option>
			<option>white</option>
			<option>blue</option>
			<option>yellow</option>
			<option>green</option>
			<option>gray</option>
			<option>red</option>
			<option>pink</option>
		</select><br>

		<label>Footer_color: </label>
		<select class="setting_values">
			<option>black</option>
			<option>white</option>
			<option>blue</option>
			<option>yellow</option>
			<option>green</option>
			<option>gray</option>
			<option>red</option>
			<option>pink</option>
		</select><br>
	</div>

	<button class="knopka" type="submit">Agree</button>

	<section class="section_full">
		<section class="section_1">
	
			<div class="customer_stutus">

			</div>

			<div class="shapka">
				<div class="site_name"><h2>SMELL BOOKS</h2></div>
			</div>
		</section>

		<section class="section_2">
			<div class="menu">
				<div id="menu_icon">
					<span class="lines"> </span>
				</div>
				<nav class="menu_links">
					<a href="{{ path('index') }}" class="links home" type="button">HOME</a>
					<a href="{{ path('books') }}" class="links books" type="button">BOOKS</a>
					<a href="{{ path('aboutUs') }}" class="links ab_us" type="button">ABOUT US</a>
					<a href="#" class="links setting_menu" type="button">SETTINGS</a>
					<a href="{{ path('register') }}" class="links register" type="button">REGISTER</a>
				</nav>
			</div>
		</section>
{% block body %}
		<section class="section_3">
			<div class="header">
				<img src="{{ asset('img/book.jpg') }}" width="100%" height="100%">
				<a href="{{ path('classicBooks') }}" <h3 id="h">Classic books</h3></a>
			</div>
		</section>
		
		<section class="section_3">
			<div class="header">
				<img src="{{ asset('img/planets.jpg') }}" width="100%" height="100%">
				<a href="{{ path('comicBooks') }}" <h3 id="h">Comic books</h3></a>
			</div>
		</section>
		
		<section class="section_3">
			<div class="header">
				<img src="{{ asset('img/fantastic.jpg') }}" width="100%" height="100%">
				<a href="{{ path('fantasticBooks') }}" <h3 id="h">Fantastic books</h3></a>
			</div>
		</section>
		
		<section class="section_3">
			<div class="header">
				<img src="{{ asset('img/romantic.jpg') }}" width="100%" height="100%">
				<a href="{{ path('romanticBooks') }}" <h3 id="h">Romantic books</h3></a>
			</div>
		</section>
		
		<section class="section_3">
			<div class="header">
				<img src="{{ asset('img/detective.jpg') }}" width="100%" height="100%">
				<a href="{{ path('detectiveBooks') }}" <h3 id="h">Crime and detective books</h3></a>
			</div>
		</section>
		
		<section class="section_3">
			<div class="header">
				<img src="{{ asset('img/fairy.jpg') }}" width="100%" height="100%">
				<a href="{{ path('fairyTales') }}" <h3 id="h">Fairy tales</h3></a>
			</div>
		</section>

		<section class="section_4">
			<div class="ramka">
				<div class="content">
					<h2>Creators: Aidana and Amankul</h2>
					<img src="{{ asset('img/cool.png') }}" width="50%" height="50%">
				</div>
			</div>
		</section>
{% endblock %}

		<section class="section_5">
			<div class="footer">
				<span>Авторские права этого сайта принадлежат  Кенжетаевой Айдане и Алтынбек уулу Аманкулу</span>
			</div>
		</section>
	</section>
	<script src="{{ asset('javas.js') }}"></script>
</body>
</html>